.grid-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.grid-col {
  margin: 0;
  box-sizing: border-box;
}
.grid-zeroMinWidth {
  min-width: 0;
}
.grid-direction-xs-column {
  flex-direction: column;
}
.grid-direction-xs-column-reverse {
  flex-direction: column-reverse;
}
.grid-direction-xs-row-reverse {
  flex-direction: row-reverse;
}
.grid-wrap-xs-nowrap {
  flex-wrap: nowrap;
}
.grid-wrap-xs-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grid-align-items-xs-center {
  align-items: center;
}
.grid-align-items-xs-flex-start {
  align-items: flex-start;
}
.grid-align-items-xs-flex-end {
  align-items: flex-end;
}
.grid-align-items-xs-baseline {
  align-items: baseline;
}
.grid-align-content-xs-center {
  align-content: center;
}
.grid-align-content-xs-flex-start {
  align-content: flex-start;
}
.grid-align-content-xs-flex-end {
  align-content: flex-end;
}
.grid-align-content-xs-space-between {
  align-content: space-between;
}
.grid-align-content-xs-space-around {
  align-content: space-around;
}
.grid-justify-xs-center {
  justify-content: center;
}
.grid-justify-xs-flex-end {
  justify-content: flex-end;
}
.grid-justify-xs-space-between {
  justify-content: space-between;
}
.grid-justify-xs-space-around {
  justify-content: space-around;
}
.grid-justify-xs-space-evenly {
  justify-content: space-evenly;
}
.grid-spacing-xs-1 {
  width: calc(100% + 8px);
  margin: -4px;
}
.grid-spacing-xs-1 > .grid-item {
  padding: 4px;
}
.grid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
}
.grid-spacing-xs-2 > .grid-item {
  padding: 8px;
}
.grid-spacing-xs-3 {
  width: calc(100% + 24px);
  margin: -12px;
}
.grid-spacing-xs-3 > .grid-item {
  padding: 12px;
}
.grid-spacing-xs-4 {
  width: calc(100% + 32px);
  margin: -16px;
}
.grid-spacing-xs-4 > .grid-item {
  padding: 16px;
}
.grid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -20px;
}
.grid-spacing-xs-5 > .grid-item {
  padding: 20px;
}
.grid-spacing-xs-6 {
  width: calc(100% + 48px);
  margin: -24px;
}
.grid-spacing-xs-6 > .grid-item {
  padding: 24px;
}
.grid-spacing-xs-7 {
  width: calc(100% + 56px);
  margin: -28px;
}
.grid-spacing-xs-7 > .grid-item {
  padding: 28px;
}
.grid-spacing-xs-8 {
  width: calc(100% + 64px);
  margin: -32px;
}
.grid-spacing-xs-8 > .grid-item {
  padding: 32px;
}
.grid-spacing-xs-9 {
  width: calc(100% + 72px);
  margin: -36px;
}
.grid-spacing-xs-9 > .grid-item {
  padding: 36px;
}
.grid-spacing-xs-10 {
  width: calc(100% + 80px);
  margin: -40px;
}
.grid-spacing-xs-10 > .grid-item {
  padding: 40px;
}
.grid-col-xs-auto {
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
}
.grid-col-xs-true {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
}
.grid-col-xs-1 {
  flex-grow: 0;
  max-width: 8.333333%;
  flex-basis: 8.333333%;
}
.grid-col-xs-2 {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
}
.grid-col-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}
.grid-col-xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.grid-col-xs-5 {
  flex-grow: 0;
  max-width: 41.666667%;
  flex-basis: 41.666667%;
}
.grid-col-xs-6 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}
.grid-col-xs-7 {
  flex-grow: 0;
  max-width: 58.333333%;
  flex-basis: 58.333333%;
}
.grid-col-xs-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.grid-col-xs-9 {
  flex-grow: 0;
  max-width: 75%;
  flex-basis: 75%;
}
.grid-col-xs-10 {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}
.grid-col-xs-11 {
  flex-grow: 0;
  max-width: 91.666667%;
  flex-basis: 91.666667%;
}
.grid-col-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}
@media (min-width:600px) {
  .grid-col-sm-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .grid-col-sm-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .grid-col-sm-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .grid-col-sm-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .grid-col-sm-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .grid-col-sm-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .grid-col-sm-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .grid-col-sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .grid-col-sm-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .grid-col-sm-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .grid-col-sm-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .grid-col-sm-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .grid-col-sm-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .grid-col-sm-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:960px) {
  .grid-col-md-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .grid-col-md-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .grid-col-md-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .grid-col-md-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .grid-col-md-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .grid-col-md-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .grid-col-md-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .grid-col-md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .grid-col-md-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .grid-col-md-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .grid-col-md-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .grid-col-md-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .grid-col-md-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .grid-col-md-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:1280px) {
  .grid-col-lg-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .grid-col-lg-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .grid-col-lg-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .grid-col-lg-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .grid-col-lg-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .grid-col-lg-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .grid-col-lg-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .grid-col-lg-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .grid-col-lg-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .grid-col-lg-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .grid-col-lg-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .grid-col-lg-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .grid-col-lg-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .grid-col-lg-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width:1920px) {
  .grid-col-xl-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }
  .grid-col-xl-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
  .grid-col-xl-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }
  .grid-col-xl-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
  .grid-col-xl-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
  .grid-col-xl-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
  .grid-col-xl-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
  .grid-col-xl-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .grid-col-xl-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
  .grid-col-xl-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }
  .grid-col-xl-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
  .grid-col-xl-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
  .grid-col-xl-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }
  .grid-col-xl-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}
